  
 
   @media(min-width:581px) {
      .filter-container {
          display: none;
      }
      
  }
   
   @media(max-width:581px) {    
  .animate {
      margin-top: 10px;
      height: 50px !important;
  }

  .animate .ice-cream-logo {
      height: 40px !important;
      width: 40px !important;
  }
   .product-container {
      padding: 10px 0 30px 0 !important;
  }

  .animate .product-titel {
      font-size: 20px !important;
      margin: 0 20px !important;
    }
  .product-container .ice-cream {
      height: 300px !important;
      width: 200px !important;
      gap: 0px !important;
      margin: 6px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .product-container .ice-cream h2{
    font-size: 20px !important;
  }
    .product-container .ice-cream img {
      height: 130px !important;
      width: 130px !important;
  }
   .product-container .ice-cream p {
      font-size: 13px !important;
      margin: 0px 2px !important;
  }
   }
   @media(max-width:450px){
  .product-container {
      padding: 10px 0 30px 0 !important;
  }
  .product-container .ice-cream{
     margin: 2px !important;
  }
   }
    @media(max-width:426px){
         .animate {
      margin-top: 10px;
      height: 36px !important;
       margin-left: 10px !important;
      margin-right: 10px !important;
  }
   .animate .ice-cream-logo {
      height: 30px !important;
      width: 30px !important;
  }
  
  .animate .product-titel {
      font-size: 16px !important;
      margin: 0 10px !important;
    }
    }
     @media(max-width:426px){
  .product-container .ice-cream {
      height: 220px !important;
      width: 150px !important;
      gap: 0px !important;
      margin: 6px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      overflow: hidden;
      border-radius: 6px;
  }
      .product-container .ice-cream img {
      height: 80px !important;
      width: 80px !important;
  }
    .product-container .ice-cream h2{
    font-size: 16px !important;
  }  
  .product-container .ice-cream p {
      max-height: 50px;
  }
     }
         @media(max-width:341px){
     .animate {
      height: 36px !important;
      margin-left: 10px !important;
      margin-right: 10px !important;

    }
   .animate .ice-cream-logo {
      height: 30px !important;
      width: 30px !important;
  }
  
  .animate .product-titel {
      font-size: 14px !important;
      margin: 0 10px !important;
    }
         }
          @media(max-width:318px){
  .product-container .ice-cream p {
      display: none;
  }
  .product-container .ice-cream {
      height: 150px !important;
      width: 120px !important;
      margin: 2px !important;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      overflow: hidden;
      border-radius: 6px;
  }
  .product-container .ice-cream h2{
    text-align: center;
  }
          }
  
  

 



  /* .animat {
      height: 60px;
      width: 100%;
      clip-path: circle(5% at 5% 0);
  } */

  .animate {
      margin-top: 10px;
      height: 100px;
      margin-left: 40px;
      margin-right: 40px;
      background-color: rgb(255, 66, 167);
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Fredoka One', cursive;
      background: linear-gradient(to right, #f01da9, #fbba38);
      color: transparent;
      text-shadow: 1px 1px 2px #f0a;
  }

  .animate .ice-cream-logo {
      height: 70px;
      width: 70px;
  }

  .animate .product-titel {
      font-size: 28px;
      color: white;
      font-weight: 700;
      margin: 0;
      margin: 0 40px;

  }

  .product-container {
      display: flex;
      background-image: linear-gradient(#fff7f0, #ffece0);
      padding: 40px 0 70px 0;
  }

  .product-container .ice-cream {
      height: 500px;
      width: 320px;
      background-color: #e9d2bd;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      margin: 10px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  }


  .product-container .ice-cream:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .product-container .ice-cream img {
      height: 250px;
      width: 250px;
      object-fit: cover;
      animation: float 2s ease-in-out infinite;
  }

  .product-container .ice-cream p {
      font-size: 19px;
      margin: 0px 20px;
      text-align: center;
      line-height: 1.5;
      color: #444;
  }

  @keyframes float {

      0% {
          transform: translateY(0);
      }

      50% {
          transform: translateY(-10px);
      }

      100% {
          transform: translateY(0);
      }
  }

  .ice-cream {
      opacity: 0;
      transform: translateY(60px);
      transition: all 0.6s ease-out;
  }

  .ice-cream.show {
      opacity: 1;
      transform: translateY(0);
  }

  /* .ice-cream {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeUp 1s ease-out forwards;
    animation-delay: 0.3s;
  }

  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  } */